<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="assembly_simulation">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import assembly_simulation urdf file -->
    <xacro:include filename="$(find jetrover_description)/urdf/assembly_simulation.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="assembly_simulation.ros2_control.xacro" />


    <xacro:assembly_simulation_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
