<?xml version="1.0"?>
<robot name="jetrover_rebuild" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find jetrover_rebuild_description)/urdf/materials.xacro" />
  <xacro:include filename="$(find jetrover_rebuild_description)/urdf/jetrover_rebuild.trans" />
  <xacro:include filename="$(find jetrover_rebuild_description)/urdf/jetrover_rebuild.gazebo" />
  <link name="base_footprint" />
  <joint name="base_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    <parent link="base_footprint"/>
    <child link="base_link"/>
  </joint>
  <link name="base_link">
    <inertial>
      <origin xyz="0.0019364990199287966 -0.00023896766879380398 0.031208161549581555" rpy="0 0 0" />
      <mass value="2.098233353247207" />
      <inertia ixx="0.005283" iyy="0.017709" izz="0.022454" ixy="1e-05" iyz="2e-06" ixz="-0.000106" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="file://$(find jetrover_rebuild_description)/meshes/base_link.stl"
          scale="0.001 0.001 0.001" />
      </geometry>
      <material name="silver" />
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="file://$(find jetrover_rebuild_description)/meshes/base_link.stl"
          scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
  </link>

  <link name="wheel_left_back_1">
    <inertial>
      <origin xyz="1.6690312705847088e-05 0.01450020228693985 -1.892657836566336e-07" rpy="0 0 0" />
      <mass value="1.7879589189742926" />
      <inertia ixx="0.001243" iyy="0.002235" izz="0.001243" ixy="1e-06" iyz="0.0" ixz="0.0" />
    </inertial>
    <visual>
      <origin xyz="0.101823 -0.098926 -0.05207" rpy="0 0 0" />
      <geometry>
        <mesh filename="file://$(find jetrover_rebuild_description)/meshes/wheel_left_back_1.stl"
          scale="0.001 0.001 0.001" />
      </geometry>
      <material name="silver" />
    </visual>
    <collision>
      <origin xyz="0.101823 -0.098926 -0.05207" rpy="0 0 0" />
      <geometry>
        <mesh filename="file://$(find jetrover_rebuild_description)/meshes/wheel_left_back_1.stl"
          scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
  </link>

  <link name="wheel_right_back_1">
    <inertial>
      <origin xyz="-3.551414162750177e-07 -0.014500074031919469 -1.892657836566336e-07" rpy="0 0 0" />
      <mass value="1.7879589189742906" />
      <inertia ixx="0.001243" iyy="0.002235" izz="0.001243" ixy="0.0" iyz="0.0" ixz="0.0" />
    </inertial>
    <visual>
      <origin xyz="0.102022 0.098804 -0.05207" rpy="0 0 0" />
      <geometry>
        <mesh filename="file://$(find jetrover_rebuild_description)/meshes/wheel_right_back_1.stl"
          scale="0.001 0.001 0.001" />
      </geometry>
      <material name="silver" />
    </visual>
    <collision>
      <origin xyz="0.102022 0.098804 -0.05207" rpy="0 0 0" />
      <geometry>
        <mesh filename="file://$(find jetrover_rebuild_description)/meshes/wheel_right_back_1.stl"
          scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
  </link>

  <link name="right_turn_shaft_1">
    <inertial>
      <origin xyz="0.0001723628534460453 -0.005668596616535834 -0.02188263555275391" rpy="0 0 0" />
      <mass value="0.15532272054737142" />
      <inertia ixx="4.7e-05" iyy="3.3e-05" izz="3.7e-05" ixy="0.0" iyz="0.0" ixz="-0.0" />
    </inertial>
    <visual>
      <origin xyz="-0.111122 0.064188 -0.073" rpy="0 0 0" />
      <geometry>
        <mesh filename="file://$(find jetrover_rebuild_description)/meshes/right_turn_shaft_1.stl"
          scale="0.001 0.001 0.001" />
      </geometry>
      <material name="silver" />
    </visual>
    <collision>
      <origin xyz="-0.111122 0.064188 -0.073" rpy="0 0 0" />
      <geometry>
        <mesh filename="file://$(find jetrover_rebuild_description)/meshes/right_turn_shaft_1.stl"
          scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
  </link>

  <link name="left_turn_shaft_1">
    <inertial>
      <origin xyz="0.00032518565016395606 0.006545827547908001 -0.021878975044379655" rpy="0 0 0" />
      <mass value="0.1585524689459937" />
      <inertia ixx="4.8e-05" iyy="3.4e-05" izz="3.8e-05" ixy="0.0" iyz="-0.0" ixz="-0.0" />
    </inertial>
    <visual>
      <origin xyz="-0.111055 -0.062677 -0.073" rpy="0 0 0" />
      <geometry>
        <mesh filename="file://$(find jetrover_rebuild_description)/meshes/left_turn_shaft_1.stl"
          scale="0.001 0.001 0.001" />
      </geometry>
      <material name="silver" />
    </visual>
    <collision>
      <origin xyz="-0.111055 -0.062677 -0.073" rpy="0 0 0" />
      <geometry>
        <mesh filename="file://$(find jetrover_rebuild_description)/meshes/left_turn_shaft_1.stl"
          scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
  </link>

  <link name="wheel_right_front_1">
    <inertial>
      <origin xyz="-2.0837485455171834e-07 -0.014500074031919441 -3.3211967127855235e-08"
        rpy="0 0 0" />
      <mass value="1.7879589189742906" />
      <inertia ixx="0.001243" iyy="0.002235" izz="0.001243" ixy="0.0" iyz="0.0" ixz="0.0" />
    </inertial>
    <visual>
      <origin xyz="-0.111358 0.098804 -0.051794" rpy="0 0 0" />
      <geometry>
        <mesh filename="file://$(find jetrover_rebuild_description)/meshes/wheel_right_front_1.stl"
          scale="0.001 0.001 0.001" />
      </geometry>
      <material name="silver" />
    </visual>
    <collision>
      <origin xyz="-0.111358 0.098804 -0.051794" rpy="0 0 0" />
      <geometry>
        <mesh filename="file://$(find jetrover_rebuild_description)/meshes/wheel_right_front_1.stl"
          scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
  </link>

  <link name="wheel_left_front_1">
    <inertial>
      <origin xyz="1.6554019610481863e-05 0.014500339618044575 -3.3211967127855235e-08" rpy="0 0 0" />
      <mass value="1.7879589189742926" />
      <inertia ixx="0.001243" iyy="0.002235" izz="0.001243" ixy="1e-06" iyz="0.0" ixz="-0.0" />
    </inertial>
    <visual>
      <origin xyz="-0.111492 -0.098689 -0.051794" rpy="0 0 0" />
      <geometry>
        <mesh filename="file://$(find jetrover_rebuild_description)/meshes/wheel_left_front_1.stl"
          scale="0.001 0.001 0.001" />
      </geometry>
      <material name="silver" />
    </visual>
    <collision>
      <origin xyz="-0.111492 -0.098689 -0.051794" rpy="0 0 0" />
      <geometry>
        <mesh filename="file://$(find jetrover_rebuild_description)/meshes/wheel_left_front_1.stl"
          scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
  </link>

  <joint name="joint_left_back" type="continuous">
    <origin xyz="-0.101823 0.098926 0.05207" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="wheel_left_back_1" />
    <axis xyz="0.00116 0.999999 0.0" />
  </joint>

  <joint name="joint_right_back" type="continuous">
    <origin xyz="-0.102022 -0.098804 0.05207" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="wheel_right_back_1" />
    <axis xyz="0.0 -1.0 0.0" />
  </joint>

  <joint name="shaft_joint_right_front" type="revolute">
    <origin xyz="0.111122 -0.064188 0.073" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="right_turn_shaft_1" />
    <axis xyz="0.0 0.0 1.0" />
    <limit upper="0.645772" lower="-0.645772" effort="100" velocity="100" />
  </joint>

  <joint name="shaft_joint_left_front" type="revolute">
    <origin xyz="0.111055 0.062677 0.073" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="left_turn_shaft_1" />
    <axis xyz="0.0 0.0 1.0" />
    <limit upper="0.645772" lower="-0.645772" effort="100" velocity="100" />
  </joint>

  <joint name="joint_right_front" type="continuous">
    <origin xyz="0.000236 -0.034616 -0.021206" rpy="0 0 0" />
    <parent link="right_turn_shaft_1" />
    <child link="wheel_right_front_1" />
    <axis xyz="0.0 -1.0 0.0" />
  </joint>

  <joint name="joint_left_front" type="continuous">
    <origin xyz="0.000437 0.036012 -0.021206" rpy="0 0 0" />
    <parent link="left_turn_shaft_1" />
    <child link="wheel_left_front_1" />
    <axis xyz="0.00116 0.999999 -0.0" />
  </joint>

</robot>